<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-bar-chart">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-doughnut-chart">Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-radar-chart">Radar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-pie-chart">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-line-chart">Line Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav=link" routerLink="/my-bubble-chart">Bubble Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-multi-doughnut-chart">Multi Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-polar-area-chart">Polar Area Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-scatter-chart">Scatter Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/text-chart">Text Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">BarChart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/chartn">PieChart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/d3-bar-chart">D3 BarChart</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>